# Ignore logs
*.log

# Ignore Emacs clutter files
emacs/.emacs.d/*
!emacs/.emacs.d/config.org
!emacs/.emacs.d/early-init.el
!emacs/.emacs.d/init.el
!emacs/.emacs.d/lisp
!emacs/.emacs.d/lisp/*
!emacs/.emacs.d/site-lisp
!emacs/.emacs.d/site-lisp/*
!emacs/.emacs.d/myelpa
!emacs/.emacs.d/myelpa/*
*~undo-tree~*

# Ignore MPD clutter files
mpd/.mpd/*
!mpd/.mpd/mpd.conf
!mpd/.mpd/playlists
!mpd/.mpd/playlists/*

# Ignore MPV clutter files
mpv/.config/mpv/*
!mpv/.config/mpv/input.conf
!mpv/.config/mpv/mpv.conf

# Ignore autoload from nvim
nvim/.config/nvim/autoload/*

# Ignore rofi theme changes
rofi/.config/rofi/config.rasi

# Ignore all updates to autostart file
options/autostart
