/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Gruvbox Color Scheme
*/
@define-color background #262626;
@define-color shutdown #cc241d;
@define-color text #ebdbb2;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: @background;
    color: #bebebe;
    font-family: Iosevka Nerd Font, "Font Awesome 6 Free Regular", Material Design Icons Desktop;
    font-size: 14px;
    /* border-radius: 8px; */
    /* border: 2px solid @text; */

}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,

#custom-PBPbattery {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#tray, #notification{
    background-color: @background;

}

#custom-notification {
    border-radius: 0px;
    color: @text;
    padding-right: 16px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: @background;
    border-radius: 0px 0px 0px 0px;

}

#tray {
    color:  @text;
    margin-right: 0px;
    border-radius: 0px;
    background-color: @background;

}

#network, #memory, #cpu, #pulseaudio{
    background-color: @background;
    color: @text;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;

}

#temperature,
#battery {
    background-color: @background;
    color: @text;
    padding-left: 0px;
    margin-right: 0px;
}

#cpu {
    padding-left: 0px;
    margin-right: 0px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    border-radius: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 0px;
}

#network.disconnected {
    color: #d65d0e;
}

#pulseaudio {
    padding-left: 0px;
    padding-top:6px;
    padding-right: 4px;
    border-radius: 0px 8px 8px 0px;
    margin-top: 3px;
}

#workspaces {
    margin-left: 15px;
    font-size:14px;
    border-radius: 8px;
    background-color: @background;
    color: @text;
    padding: 0px;
}

#workspaces button {
    border-radius: 8px;
    margin: 0px;
    font-weight: normal;
    color: #4a601d;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 5px;
}

#workspaces button:hover {
    transition-duration: .1s;
    color: #81af58;
    background: none;
    border: none;
}

#workspaces button.empty {
    color: #665C54;
}

#workspaces button.empty:hover {
    transition-duration: .1s;
    color: #928374;
    background: none;
    border: none;

}

#workspaces button.active:hover,
#workspaces button.active {
    color: #B8BB26;
}

#workspaces button.urgent {
    color: @shutdown;
}

#custom-power {
    background-color: @background;
    border-radius: 8px 0px 0px 8px;
    color: @shutdown;
    padding-left: 15px;
    padding-right: 5px;
    margin-right: 0;
    font-size:13px;
}

#backlight.icon {
    padding-right:5px;
    font-size: 13px;
}

#clock {
    color: @text;
    border-radius: 8px;
    padding-right: 10px;
    background-color: @background;
    font-size:16px;
}

